<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        table {
            font-family: Arial;
        }
    </style>

</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>

<body>
    <table>
        <tr>
            <td>
                <h1>Hello</h1>
            </td>
            <td align="right" style="color:#1e4066">
                <b>Date: 2023-09-23</b>
            </td>
        </tr>
        <tr>
            <td height="10px"></td>
        </tr>
        <tr>
            <td style="color: '#1e4066';"><b>Machining-4U -SAS Faberville</b></td>
            <td align="right" style=" color: #1e4066;"><b>Invoice No: 2023-2021001</b></td>
        </tr>
    </table>

</body>

</html>